
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Calligraffitti&family=Lacquer&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rosarivo:ital@0;1&family=Stylish&family=Yeon+Sung&display=swap');

* {
    margin: 0px;
    padding: 0px;
    
} 

html{
         font-size: 68.6%; 
         z-index: -1;
}

.back_img{
    background-color: rgb(16, 124, 218);
    width: 100%;
    height: 100vh;
    
}

/* login page */
#navbar {
    display: flex;
   
    background: url(background222.jpg) no-repeat center center/cover;
    position: relative;

    
    height: 37vh;
    width: 100vw;
}


#navbar a {
    color: black;
    display: flex;
    font-size: 1.7rem;
    text-decoration: none; 

}

/* #navbar ul {
    list-style: none;
    display: flex;
}

#navbar li {
    margin-left: 30px;
} */


#navbar a:hover {
    background-color: rgb(121, 222, 250);
    border-radius: 1rem;
}


/* upper-box */
#box {
    border: 0.2rem solid black;
    height: 28.0rem;
    top: 288.0px;
    left: 41.0rem;
    position: relative;
}

#box img {
    height: 250px;
}

#box:hover {
    box-shadow: 5px 10px 25px 15px rgb(181, 181, 209);
}


.hidden {
    display: none;
}

#hoverable1 {
    font-size: 1.7rem;
    /* position: absolute; */
    top: 33.799rem;
    left: 81.9rem;

}

#hoverable2 {
    font-size: 1.7rem;
    /* position: absolute; */
    top: 33.799rem;
    left: 91.4rem;

}


#hoverable3 {
    font-size: 1.7rem;
    /* position: absolute; */
    top: 33.799rem;
    left: 102.2rem;

}


/* taki mere saare boxes sahi jagah pe rahe  */
.hidden {
    position: absolute;
    top: 10.7rem;
    left: 17.9rem;
}


/* jee, neet , gate ke upar jo word likha hua hai uske liye  */
.upward {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    margin: 0.9rem 1.0rem;
    position: relative;
    top: -5rem;
}


/* .Container {
    display: flex;
    justify-content: center;
} */

.container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
    padding: 0 20px; /* Add padding for better spacing */
}

.Competition-container {
    border: 1px solid #000;
    /* padding: -12px; */
    margin: -46px auto;
    /* Center the container horizontally */
    width: 46.0rem;
    height: 2.6rem ;
    
    /* Adjust width as needed */
    display: flex;
    justify-content: space-between;
    /* Adjust alignment as needed */
    border-radius: 1.5rem;
    background-color: rgb(219, 241, 234);
  

}

.Competition {
    margin: 0.6rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    /* Smooth transition for background color change */
}

.Competition:hover {
    background-color: #a2d5e1;
    /*Change background color on hover */
    border-radius: 0.6rem;
}


/* innerBox*/
#box{
    background-color: white;
}

#box img{
    height: 14rem;
    width: 17.9rem;

}
#box p {
    border: 2px solid black;
    position: absolute;
    height: 12.0rem;
    width: 15.0rem;
    left: 1.2rem;
    top: 14.9rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    text-align: center;
    

}

#box p:hover {
    box-shadow: 5px 10px 25px 15px rgb(225, 156, 217);
}

#box ul li {
    list-style-type: none;


}

#box ul li a {
    text-decoration: none;
    display: flex;
    position: relative;
    left: 27px;
    top: 48px;
    font-size: 1.3rem;
}

#box ul li a :hover{
   color: #7fffd4;
  
  
}

/* quote */
.quote {
    position: relative;
    top: -15rem;
    left: 19.5rem;
    color: #2d2c2c;
    text-align: center;
    font-size: 2.0rem;
    font-family: "Madimi One", sans-serif;

}

body{
    background-color: white;
}


/* client-section */
#client-section {
    height: 35.5rem;
}


#clients {
   
    display: flex;
    /* justify-content: center;
    align-items: center; */
    position: relative;
    top: 49.0rem;
    left: 57.9rem; 

}

.client-items {
    transition: transform 0.3s ease-in-out;
}

.client-items:hover{
    transform: scale(1.1);
}


#clients img {
    height: 4.1rem;
}


/* background image in client section  */
#client-section{
    background: url(contact.jpeg)  no-repeat center center/cover;
    position: relative;
    z-index: -1;
    top: 47rem;
    opacity: 4;
    
    
    height: 63vh;
    width: 100vw;
}


/* our client */
.Murder {
    /* display: flex; */
    position: relative;
    top: 46.5rem;
    left: 59.5rem;
    font-size: 3.2rem;
}


/* contact section */
/* contact us */
.kill {
    position: relative;
    top: 7.4rem;
    left: 59.9rem;
    font-size: 3.2rem;
}


#contact{
    position: relative; 
    

}


/* this will adjust size of forms  */
#contact-box{
    position: relative;
    
    top: 9.9rem;
    left: 51.1rem;

}


/* #contact-box::before{
    content: "";
    background-color: url(contact.jpeg);
} */

.form-group input,textarea{
    display: flex;
    width: 25.3rem;
    padding: 5px 45px;
}
.form-group label{
    font-size: 1.5rem;
    font-weight: bold;
}


/* footer */
footer{
    font-size: 1.4rem;
    position: absolute;
    top: 140rem;
    /* left: 40%; */  
    background: black;
    color: white;
    padding: 6px 20px;
    width: 100%;

}

.Love{
    margin: 1.5rem 0rem;
    padding-left: 13rem;


}
.Love_birds{
    font-family: "Stylish", serif;
}


.footer_links{
                 
    display: flex;
    flex-direction: row;
    margin: 3rem 3rem;

}

.footer_characters{
    padding: 0rem 10rem;
    margin: 3rem 0rem;
}

.foot_elements{
    padding: 2.3rem 0rem;
}

.foot{
    padding: 0.6rem 0rem;
    
}

.foot_elements a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline ;
}


.btn{
    width: 6rem; 
    height: 2rem; 
    border-radius: 0.4rem;
    /* outline: none;
 
    /* font-size: 4rem; */
    /* text-align: center; */
    /* border: 2px solid rgb(220, 176, 176); */
     position: absolute;
     left: 14rem;
     margin: 1rem 0rem;
     height: 2rem;
    cursor: pointer;
   
}


/* Responsiveness */
/* @media  (min-width: 380px) and (max-width:685px) { */

    @media only screen and (max-width: 715px){
  
    #navbar{
        /* position: relative; */
        height: 22vh;
        width: 98.7%;
    }

    .quote{
        display: none;
    }

    .upward{
        display: flex;
        font-size: 1.2rem;
        position: relative;
        top: -0.5rem;
        /* left: 8.6rem; */
        left: -1rem;
        
    }
 
    /* position of neet , jee and gate boxes  */
    .Competition-container{  
        margin: -0.7rem auto;
        /* padding: 12px -100px; */
        width: 23rem;
        position: relative;
        left: -14px;
        height: 1.4rem;
    }

    #hoverable1{
             font-size: 0.9rem;
    }
    #hoverable2{
             font-size: 0.9rem;
    }
    #hoverable3{
             font-size: 0.9rem;
    }
    .Competition{
       margin: 0.3rem auto;
    }


    #box {
       
        height: 28.0rem;
        position: relative;
        top: -7rem;
        left: -15.6rem;
        margin: 1rem auto;
    }

    /* background image behind 'form-box' */
    #client-section {
        top: 41rem;
        height: 40vh;
        width: 98.7%;
        /* z-index: -0; */
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }


     /* this allows to move 'form-box ' */
    #contact-box{
        /* position: relative; */
        top: 23.5rem;
        left: 3.1rem;
    }
    
    /* this will allows to set size of 'form'  */
    .form-group input {
        height: 0.0rem;
         width: 4.2rem;
    }

    .form-group textarea{
        width: 4.2rem;
        height: 3.6rem;

    }

    .kill{
        top: 23rem;
        left: 2.1rem;
        color: snow;
    }


    .form-group input , textarea{
        white-space: nowrap;
        font-size: 0.8rem;
        
    }

   input[type=email]{
    text-align: none;
   }


   /* client-section  */
   .Murder{
    top: 32rem;
    left: 4.8rem;
   }

   #clients{
       top: 35.1rem;
       left: 7.1rem;
   }

   #clients  img{

       height: 2.3rem;
   }

   footer{
    top: 107rem;
   }
 }



    






